body {
    margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #456268;
    background-color: #fcf8ec;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .page-header {
    min-width: 100%;
    margin: 0 0 160px;
    padding: 32px 0 32px;
    background-color: #ba135d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f4cca4' fill-opacity='0.37' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");}
  
  .page-header .container,
  .page-footer .container {
    text-align: right;
  }
  
  .page-header a {
    margin-left: 56px;
    color: #000000;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  
  .header-email {
    padding-left: 30px;
    background-image: url("img/icon-email-header.svg");
  }
  
  .header-phone {
    padding-left: 30px;
    background-image: url("img/icon-phone-header.svg");
  }

  .header-logo {
    padding-left: 30px;
    background-image: url("img/motivation.svg");
  }
  
  
  .hero-image {
    margin-bottom: 620px;
  }
  
  .hero-image .container {
    max-width: 1408px;
    text-align: center;
  }
  
  .heading {
    margin: 0 0 16px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 88px;
    line-height: 96px;
    font-weight: 400;
  }
  
  .hero-image p {
    margin: 0;
    font-size: 32px;
    line-height: 48px;
  }
  
  .intro {
    margin: 0 0 120px;
  }
  
  .subheading {
    margin: 0 0 56px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
  }
  
  .user-image {
    margin: 0 0 32px;
    text-align: center;
  }
  
  .intro h3,
  .portfolio h3 {
    margin: 0 0 12px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
  }
  
  .intro p {
    margin: 0 0 32px;
    text-align: center;
  }
  
  .skills-list {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .skills-list dt {
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .skill-html {
    background-image: url("img/icon-html.svg");
  }
  
  .skill-css {
    background-image: url("img/icon-css.svg");
  }
  
  .level {
    margin: 4px 0 16px;
    padding: 0;
    height: 14px;
    font-size: 0;
    background-color: #ffffff;
    border: 1px solid #86c3fa;
    border-radius: 8px;
  }
  
  .level div {
    margin: 1px;
    height: 12px;
    background-color: #288be6;
    border-radius: 6px;
  }
  
  .portfolio {
    margin: 0 0 120px;
  }
  
  .projects {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .projects li {
    margin: 0 0 80px;
  }
  
  .project-image {
    margin: 0 0 24px;
    text-align: center;
  }
  
  .projects p {
    margin: 0 0 24px;
  }
  
  .button {
    padding: 6px 20px;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #288be6;
    color: #ffffff;
  }
  
  .page-footer {
    padding: 40px 0;
    color: #000000;;
    background-color: #ba135d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f4cca4' fill-opacity='0.37' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  .page-footer a {
    margin-left: 56px;
    color: inherit;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
    
  }
  
  .footer-email {
    padding-left: 30px;
    background-image: url("img/icon-email-footer.svg");
  }
  
  .footer-phone {
    padding-left: 25px;
    background-image: url("img/icon-phone-footer.svg");
  }

  /* .reflection{
      width: 1000px;
      height: 250px;
      position: relative;
      background: url("img/hero-bg.jpg");
      box-shadow: 0px 50px 70px rgba(0,0,0,0.3), 0px 10px 10px rgba(0,0,0,0.1);
  }

  .reflection ::after{
      content: "";
      background-image: inherit;
      width: inherit;
      height: 40%;
      position: absolute;
      bottom: -41%;
      transform: scaleY(-1);
      opacity: 0.5;
  }

  .reflection ::before{
    content: "";
    background-image: inherit;
    width: inherit;
    height: 42%;
    position: absolute;
    bottom: -42%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3),white);
    z-index: 1;
  } */

